{% load introkick_filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Introkick by CareerHoot | Enter E-mail</title>
	
	<script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>

		<script type="text/javascript">
			// $(document).ready(function() {
			// 	var connections_dict = {{ connections }}
			// 	$("#connections").html(JSON.stringify(connections_dict, null, '\t'))
			// });
		</script>

</head>

<body>

    {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

	<h1>Enter your E-mail</h1>

    <form action="/introkick/email/" method="post">
        {% csrf_token %}

        <p>We need your e-mail because.....</p>
        <input type="text" name="email" id="email" value="{{ email }}" />
        <label for="email">Enter your email!</label><br />
        <input type="submit" value="Get intros!" />
    </form>


</body>
</html>