{% load introkick_filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Introkick by CareerHoot</title>
	
	<script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>

		<script type="text/javascript">
			// $(document).ready(function() {
			// 	var connections_dict = {{ connections }}
			// 	$("#connections").html(JSON.stringify(connections_dict, null, '\t'))
			// });
		</script>

</head>

<body>

	<h1>{{ User }}</h1>

	<div id="email">{{ Email }}{{ user_id }}<br/><br/></div>

    <table>
    	{% for i in connections_list_range %}
    		<tr>
    				<td>{{ connections_positions|lookup:i|lookup:0 }}</td>
    				<td>{{ connections_firstName|lookup:i }} 
    					{{ connections_lastName|lookup:i }}, 
    					{{ connections_location|lookup:i }}, 
    					{{ connections_industry|lookup:i }}, 
    					{{ connections_positions|lookup:i|lookup:0 }}, 
    					{{ connections_positions|lookup:i|lookup:1 }}
    				</td>
    				<td>Connected through: {{ first_name }} {{ last_name }}</td>
    		</tr>
        {% endfor %}
    </table>

</body>
</html>