{% extends 'introkick/base.html' %}

{% block main %}

<h1>Introkick</h1>

{% block notification %}

{% endblock notification %}

<br/>
<br/>
<br/>

<a href="/introkick/login/"><img alt="auth_linkedin" id="auth_linkedin" src="{{ STATIC_URL }}images/auth_linkedin.png" /></a>
	
{% endblock main %}


{% block doc_body_js %}


<br/>
<br/>
<br/>


<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="{{ share_url }}" data-counter="top"></script>

<div class="fb-like" data-href="https://www.facebook.com/CareerHoot" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>

<a href="https://twitter.com/careerhoot" class="twitter-follow-button" data-show-count="false">Follow @careerhoot</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://twitter.com/careerhoot" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @careerhoot</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="careerhoot" data-related="andrewlchen" data-hashtags="introkick">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={% block meta_title %} {{ block.super|urlencode }} {% endblock %}&summary={{ 'Get warm intros with IntroKick!'|urlencode }}&source={{ 'IntroKick'|urlencode }}"><img src="{{ STATIC_URL }}/images/LI_share.jpg" border="0" /></a>


{% endblock doc_body_js %}



<!-- {% if get_request %}?gid={{ get_request }}{% endif %} -->