{% extends 'introkick/base.html' %}

{% load introkick_filters %}

{% block js_head_script %}
                $(document).ready(function() {
                
                $('.errorlist').addClass("alert alert-error");

                {% if current_user_companies %}
                    $('#company-pill').addClass('active').siblings().removeClass('active');
                {% else %}
                    $('#industry-pill').addClass('active').siblings().removeClass('active');
                {% endif %}


                $('.nav-pills li a').click(function() {
                    $(this).parent().addClass('active').siblings().removeClass('active');
                });
                
                $('.accordion-body').collapse('hide');


                $('.tr_group_member').bind('click', function() {
                    var checkbox = $(this).find(':checkbox');
                    checkbox.prop('checked', !checkbox.prop('checked'));
                    $(this).toggleClass('tr_group_member_clicked');
                });


                function range(start, stop, step){
                    if (typeof stop=='undefined'){
                        // one param defined
                        stop = start;
                        start = 0;
                    };
                    if (typeof step=='undefined'){
                        step = 1;
                    };
                    if ((step>0 && start>=stop) || (step<0 && start<=stop)){
                        return [];
                    };
                    var result = [];

                    for (var i=start; step>0 ? i<stop : i>stop; i+=step){
                        result.push(i);
                    };
                    return result;
                };


                $.noty.defaults = {
                    layout: 'bottom',
                    theme: 'default',
                    type: 'alert',
                    text: '',
                    dismissQueue: true, // If you want to use queue feature set this true
                    template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                    animation: {
                        open: {height: 'toggle'},
                        close: {height: 'toggle'},
                        easing: 'swing',
                        speed: 500 // opening & closing animation speed
                    },
                    timeout: false, // delay for closing event. Set false for sticky notifications
                    force: false, // adds notification to the beginning of queue when set to true
                    modal: false,
                    closeWith: ['click'], // ['click', 'button', 'hover']
                    callback: {
                        onShow: function() {},
                        afterShow: function() {},
                        onClose: function() {},
                        afterClose: function() {}
                    },
                    buttons: false // an array of buttons
                };


                // prepare Options Object 
                var options = { 
                    // target:     '#divToUpdate', 
                    // url:        '{% url "invite_to_group" %}', 
                    success:    function(user_notification) { 
                        var user_notification = user_notification.split(';');
                        var n = noty({ 
                            text: user_notification[1], 
                            type: user_notification[0], 
                            timeout: 7000,
                        });
                    }
                }; 
                 
                // attach handler to form's submit event 
                $('#invite_to_group, #request_access').submit(function() { 
                    // submit the form 
                    $(this).ajaxSubmit(options); 
                    // return false to prevent normal browser submit and page navigation 
                    return false; 
                });
                    

                // $('#add_group').submit(function() { 
                //     $(this).ajaxSubmit(options);
                //     return false;
                // });


                $("a.accordion-toggle").click(function() {

                    var self = $(this); 
                    var data = escape(self.text()); 
                    var counter = $(this).data("counter"); 

                    if (self.hasClass('company')) {
                        var getPrepend = 'company=';
                    } else if (self.hasClass('industry')) {
                        var getPrepend = 'industry=';
                    }; 

                    // Don't refetch from DB if already done before. 
                    if ($("#accordion-heading"+counter).children().length < 2) {
                    
                        $.ajax({
                            type: "GET",
                            url: '{% url "ajax" %}',
                            dataType: 'json', 
                            data: getPrepend + data,
                            success: function(response) {

                                htmlString = "<div id=\"collapse" + counter + "\" class=\"accordion-body collapse in\">" + "<div id=\"accordion-inner" + counter + "\"  class=\"accordion-inner\"><table class=\"table table-bordered table-hover\">"; 
                                
                                for (var i=0; i < response.length; i++) {

                                    var person = response[i]; 

                                    htmlString += "<tr><td><a href=\"" + person['public_url'] + "\" class=\"picture_url\"><img alt=\"profile-pic\" id=\"node_profile_picture\" class=\"img-rounded\" src=\""; 

                                    if (person['picture_url'] == 'No picture given') {
                                        htmlString += "http://www.vdvl.nl/wp-content/uploads/2012/10/icon_no_photo_no_border_80x80.png"; 
                                    } else { 
                                        htmlString += person['picture_url']; 
                                    }; 

                                    htmlString += "\" /></a></td><td><a href=\"" + person['public_url'] + "\" class=\"member_public_url\">" + person['first_name'] + " " + person['last_name'] + "</a>, " + person['location'] + ", " + person['industry'] + "</td><td>" + person['title'] + "</td><td>" + person['company'] + "</td><td>Connected through: ";

                                    connectors = range(person['connectors'].length);

                                    for (var index in connectors) {
                                        htmlString += "<a href=\"" + person['connector_urls'][index] + "\" class=\"member_public_url\">" + person['connectors'][index] + "</a>";

                                        if (index < person['connectors'].length-1) { 
                                            htmlString += ", "; 
                                        };
                                    }; 

                                    htmlString += "</td></tr>"; 

                                };

                                htmlString += "</table></div></div>"; 

                                self.after(htmlString);

                            }, 
                            error: function(response) {
                                $(this).html('There was an error.');
                            }

                        });

                    }; 

                });


                $.unblockUI();

                $('a').click(function(e) {
                    if($(e.target).is('a.accordion-toggle, #UpdateEmail, #subscribe-modal, #LeaveGroup, #MyGroups, .member_public_url, .picture_url')){
                        e.preventDefault();
                        return;
                    }; 

                    $.blockUI({ message: 'Loading...', 
                        css: { 
                            border: 'none', 
                            padding: '15px', 
                            backgroundColor: '#000', 
                            '-webkit-border-radius': '10px', 
                            '-moz-border-radius': '10px', 
                            opacity: .5, 
                            color: '#fff', 
                            'font-size': '28px',
                            font: 'helvetica', 
                        } 
                    }); 
                }); 

            }).ajaxStart(function() {
                $.blockUI({ message: 'Loading...', 
                    css: { 
                        border: 'none', 
                        padding: '15px', 
                        backgroundColor: '#000', 
                        '-webkit-border-radius': '10px', 
                        '-moz-border-radius': '10px', 
                        opacity: .5, 
                        color: '#fff', 
                        'font-size': '28px',
                        font: 'helvetica', 
                    } 
                }); 
            }).ajaxStop(function() {
                $.unblockUI();
            });
{% endblock js_head_script %}

{% block splash_image %}
    body {
        background-color:#F9F9F9;
    }
{% endblock splash_image %}

{% block nav %}

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href='{% url "group" %}'><b>IntroKick</b></a>
        <ul class="nav pull-left">
            <li><a href=''>{{ current_user }} ({% if email %}{% ifequal email 'Enter your email (no spam, ever)' %}{{ db_email }}{% else %}{{ email }}{% endifequal %}{% endif %}{% ifequal email '' %}{{ db_email }}{% endifequal %})</a></li>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" id="MyGroups" role="button" data-toggle="dropdown" data-target="#" href="#">My Groups<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    {% for group in all_groups %}
                        <li><a href='{% url "group_pk" group.id %}'>{{ group }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" id="LeaveGroup" role="button" data-toggle="dropdown" data-target="#" href="#">Leave Groups<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    {% for group in all_groups %}
                        {% ifnotequal group control_group %}
                            <li><a href='{% url "remove" group.id %}'>Leave {{ group }}</a></li>
                        {% endifnotequal %}
                    {% endfor %}
                </ul>
            </li>
            <li><a id="UpdateEmail" href="#myModal-email" role="button" class="" data-toggle="modal">Update My Email</a></li>
            <li><a id="subscribe-modal" href="#myModal-subscribe" role="button" class="" data-toggle="modal">Make Me Premium</a></li>
            <li><a href='{% url "logout" %}'>Logout</a></li>
        </ul>
      </div>
    </div>

    <br />
    <br />
    <br />

{% ifequal onload_modal 'free' %}
    <div class="modal hide fade" id="myModal-subscription">
        <div class="modal-header">
            <h3>You are on Day {{ days_elapsed }} of your 14-day free trial. Subscribe to keep access.</h3>
        </div>
        <div class="modal-body">
            <p>IntroKick is free for the first 14 days, then <span id="bold-this">just $4.95 per month</span> afterward. Please subscribe now to keep access and continue finding warm leads through people you already know!</p>
        </div>
        <div id="subscribe-paypal">
            {{ checkout_form.sandbox }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Maybe later</button>
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Give me access!</button>
        </div>
    </div>
{% endifequal %}

    <div id="myModal-email" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Update My Email</h3>
        </div>
        <div class="modal-body">
            <form action='{% url "email" %}' method="post">
                {% csrf_token %}
                <div class="field">
                    <p>We'll notify you by email only when one of your peers requests to join one of your groups. We don't spam, ever.</p><br/>
                    <div class="input-append">
                    <input id="id_email" name="email" type="text" value="{{db_email}}" />
                    <input class="btn btn-primary" type="submit" value="Update email!" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <div id="myModal-subscribe" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Subscribe</h3>
        </div>
        <div class="modal-body">
            <form action='{% url "email" %}' method="post">
                {% csrf_token %}
                <div class="field">
                    <p>We'll notify you by email only when one of your peers requests to join one of your groups. We don't spam, ever.</p><br/>
                    <div class="input-append">
                    <input id="id_email" name="email" type="text" value="{{db_email}}" />
                    <input class="btn btn-primary" type="submit" value="Update email!" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

{% block paypal_pdt %}
    <table class="table">
        <tr>
            <td>
                <p style="font-size: 32px; line-height: 1.2em;"><b>I am viewing: {% if current_group %}{% ifequal current_group 'Not part of a group - add one below!' %}Please select a group.{% else %}{{ current_group }}{% endifequal %}{% endif %}{% ifequal current_group '' %}Please select a group.{% endifequal %}</b></p>
                <br />
                <ul class="nav nav-pills">
                        <li style="font-size: 24px;"><b>Sort by:&nbsp;&nbsp;</b></li>
                        <li id="company-pill" ><a href='/introkick/company/'>Company</a></li>
                        <li id="industry-pill"><a href='/introkick/industry/'>Industry</a></li>
                </ul>
            </td>
            <td>
                <div class="pull-right">
                    <form id="add_group" action='{% url "add" %}' method="post" >
                        {% csrf_token %}
                        <div class="form-horizontal">
                            <input id="id_group" name="group" type="text" data-provide="typeahead" autocomplete="off" placeholder="Add or join a group" data-source='{{ typeahead_list }}' data-items="10" data-minLength="1" class="typeahead" >
                            <input class="btn" type="submit" value="Show Me Group" />
                        </div>
                    </form>

                    {% ifnotequal current_group control_group %}
                        <form id="invite_to_group" action='{% url "invite_to_group" %}' method="post">
                            {% csrf_token %}
                            <div class="input-append">
                                <label for="id_email"><b>See my colleagues' connections by inviting <br/> them to join: {{ current_group }}</b></label>
                                {{ invite_others_to_group.email.errors }}
                                <input id="id_email" name="email" type="text" placeholder="name@example.com" />
                                <input class="btn btn-primary" type="submit" value="Invite Now" />
                            </div>
                        </form>
                    {% endifnotequal %}
                </div>
            </td>
        </tr>
    </table>
{% endblock paypal_pdt %}

{% endblock nav %}